
<!-- ****************** ABOUT ME ****************** -->

<div class="about-section">

	<img src="assets/misc/me2.jpg" class="about-img">

	<div class="about-contact_info-section">
		<h3 class="about-info-title">Contact Information</h3>
		<br/>
		<h5 class="name_email_link_git">Name:</h5>
		<p class="contact_info">Sergio Silva Rubio</p>
		<br/>
		<h5 class="name_email_link_git">E-mail:</h5>
		<p class="contact_info">sertykos@gmail.com</p>
		<!-- Icon to send me an e-mail -->
		<br/>
		<h5 class="name_email_link_git">Linkedin:</h5>
		<p class="contact_info"><a href="https://www.linkedin.com/profile/view?id=228948048&trk=nav_responsive_tab_profile">es.linkedin.com/in/sergiosilvarubio/</a></p>
		<br/>
		<h5 class="name_email_link_git">Github:</h5>
		<p class="contact_info"><a href="https://github.com/sertykos">https://github.com/sertykos</a></p>
	</div>

	<div class="about-extra_info-section">
		<h3 class="about-info-title">Know me better!</h3>
		<ul class="about-extra_info-ul">
			<li class="about-extra_info-li">
				<h5 class="about-extra_info-h5">Nationality: </h5>
				<p class="about-extra_info-p">Spanish</p>
			</li>
			<li class="about-extra_infoli">
				<h5 class="about-extra_info-h5">Birth: </h5>
				<p class="about-extra_info-p">07 / 29 / 1991</p>
			</li>
			<li class="about-extra_info-li">
				<h5 class="about-extra_info-h5">Languages: </h5>
				<p class="about-extra_info-p">Spanish ; English</p>
			</li>li
			<li class="about-extra_info-li">
				<h5 class="about-extra_info-h5">Status: </h5>
				<p class="about-extra_info-p">Married</p>
			</li>
			<li class="about-extra_info-li">
				<h5 class="about-extra_info-h5">Job: </h5>
				<p class="about-extra_info-p">Web Developer</p>
			</li>
		</ul>
	</div>

</div>