<p>Community</p>


<section class="community-section">

	<!--<img src="assets/misc/" class="frame-img-prof">-->
	<img src="assets/misc/lorempic8080.jpg" class="prof-img">
	<div class="community-by-section">
		<p class="community-by-txt">Post by</p>
		<p class="community-user-txt">Admin</p>
	</div>

	<div id="article" class="article">
		<h2 class="art-title">My article 1</h2>
		<p class="art-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, ex, veritatis. Est porro mollitia illum, minus itaque fugiat laudantium quae repellat quas natus, aliquam quisquam. Quo dolorem blanditiis consequatur fuga.</p>
	</div>


	<textarea id="txtarea" rows="20" cols="1" placeholder="Comment" class="community-textarea"></textarea>
	<input type ="button" id="comment-btn" class="comment-btn" value="Comment!">


</section>