
<!-- ********************* Main body part ********************* -->

<div class="background-div">

  <div class="news">
    <img src="assets/misc/welcome.png" class="img-new">
    <div class="new-by">
      <h5 class="by-txt">New by:</h5>
      <p class="admin-txt">Administrator</p>
    </div>
    <article class="new-art">
      <p class="new-p">
        I am more than happy to welcome everyone to Play&Share !<br/><br/>
        If you love videogames then this website is perfect for you. You will have the feeling of
        playing a 2D videogame while you are surfering through it.
        I am aware that all the people here doesn´t like just "the feeling of playing" but what all
        you guys want is "PLAY". Ok! take it easy...get confortable y go to "The Game" to see what´s really going on ! ! !
      </p>
    </article>
  </div>

  <div class="news">
    <img src="assets/misc/patch.jpg" class="img-new">
    <div class="new-by">
      <h5 class="by-txt">New by:</h5>
      <p class="admin-txt">Administrator</p>
    </div>
    <article class="new-art">
      <p class="new-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto dolore ab deserunt cumque veritatis voluptatem pariatur quisquam provident, quis quibusdam impedit neque fugiat sunt dignissimos autem. Delectus, sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, molestiae et id, animi eveniet a quos incidunt perspiciatis, impedit quas sed. Vel, aut repellendus! Quos atque accusamus blanditiis adipisci quibusdam.
      </p>
    </article>
  </div>

</div>

<!-- ********************* Footer ********************* -->

<footer class="footer">

  <p class="copyright">©SergioSR<p>

</footer>
