.community-section	{
					width: 70%;
					position: relative;
					margin: auto;
					padding: 10px;
					border: 1px solid black;
}

/*.frame-img-prof	{
				position: absolute;
				left: 10px;
				top: 10px;
}*/

.prof-img	{
			width: 60px;
			height: 60px;

}

.community-by-section	{
						display: inline-block;
						font-family: 'Indie Flower', cursive;
						color: grey;
}

.article	{
			font-family: 'Indie Flower', cursive;
			font-weight: bold;
			padding-top: 10px;
}

.art-title	{
			font-size: 24px;
			margin-bottom: 16px;
}

.art-txt	{
			margin-left: 30px;
			margin-bottom: 10px;
}

.community-textarea	{
					height: 70px;
					width: 340px;
					margin-left: 30px;
}

.comment-btn	{
				width: 80px;
				height: 30px;
				position: relative;
				bottom: 12px;
}
