
.community-title	{
					text-align: center;
					font-family: 'Indie Flower', cursive;
					font-weight: bold;
					font-size: 24px;
					margin-top: 80px;
}

.community-new_post-section	{
							position: relative;
							left: 27%;
							top: 30px;
							width: 45%;
							height: 220px;
							padding-top: 30px;
							border: 1px solid black;
}

.new_post-inputs	{
					width: 80%;
					margin: auto;
}

.community-title_label	{
						position: absolute;
						left: 40px;
						font-family: 'Indie Flower', cursive;
						font-weight: bold;
}

.community-title_input 	{
						position: absolute;
						left: 120px;
						width: 420px;
}

.community-comment_label	{
							position: absolute;
							left: 40px;
							top: 70px;
							width: 420px;
							font-family: 'Indie Flower', cursive;
							font-weight: bold;
}


.community-comment_input 	{
							position: absolute;
							left: 120px;
							top: 70px;
							width: 420px;
}

.community-new_post-btn	{
						position: absolute;
						bottom: 10px;
						right: 65px;
						width: 120px;
						height: 30px;
}

.community-table_posts	{
						position: relative;
						top: 80px;
						margin: auto;
						margin-bottom: 100px;
						border: 12px ridge #996600;
						width: 60%;
}

.community-table_body	{
							background-image: url(textures/white-tile.png);
							background-repeat: inherit;
}

.community-table-tr	{
						display: block;
						margin-left: 30px;
						margin-top: 20px;
						margin-bottom: 20px;
						width: 93%;
						padding: 20px;
						border: 1px solid black;
						font-family: 'Indie Flower', cursive;
						background-color: white;
						overflow: hidden;
}

.community-table_title-txt 	{
							display: block;
							font-size: 21px;
							font-weight: bold;
							width: 80%;
}

.community-table_comment-txt 	{
								display: block;
								margin-top: 10px;
								margin-bottom: 10px;
								font-size: 18px;
								width: 80%
}

.community-table_by-txt	{
						font-size: 13px;
						color: blue;
						display: inline-block;
						margin-right: 5px;
}

.community-table_date-txt	{
							font-size: 13px;
							color: grey;
							display: inline-block;
}

.community-table_avatar	{
						width: 60px;
						height: 60px;
						float: right;
						position: relative;
						top: 0px;
						right: 10px;
}
