.sign_in-box	{
				width: 50%;
				height: 329px;
				position: relative;
				top: 110px;
				margin: auto;
				border: 1px solid black;
}

.sign_in-txt-box	{
					position: relative;
					text-align: center;
					top: 20px;
}

.e-mail-sign_in-box	{
					position: absolute;
					left: 260px;
					top: 80px;
}

.pass-sign_in-box	{
					position: absolute;
					left: 260px;
					top: 130px;
}

.remember-sign_in-box	{
					position: absolute;
					left: 260px;
					top: 170px;
}

.btn-sign_in-box	{
					position: absolute;
					top: 220px;
					left: 320px;
}

.shared_links-sign_in-box	{
							width: 150px;
							position: absolute;
							bottom: 10px;
							left: 10px;
}
